.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
$primary: #0481f7;

// dashboard user header
.dashboard__users__header {
  height: 50px;
  border-radius: 8px;
  background-color: rgba(231, 231, 231, 0.158);
}
.dashboard__users {
  // background-color: white;

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.541);
    padding: 0px 10px;
    // justify-content: space-between;
    &__search,
    &__filter,
    &__sort {
      height: 80%;
      padding: 3px;
      @extend .flex;
      background-color: rgba(255, 255, 255, 0.479);
      border: 2px solid white;
      border-radius: 5px;

      input,
      select {
        height: 100% !important;
        outline: none;
        border: 0;
        padding-left: 10px;

        &:focus {
          outline: none;
          border: 0;
        }
      }

      i {
        color: white;
        width: 30px;
        height: 100%;
        background-color: $primary;
        @extend .flex;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__search {
      height: 80%;
      padding: 3px;
      @extend .flex;
      background-color: rgba(255, 255, 255, 0.479);
      border: 2px solid white;
      border-radius: 5px;
      input {
        height: 100% !important;
        outline: none;
        border: 0;
        padding-left: 10px;

        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
    &__filter,
    &__sort {
    }
    &__filter {
    }
    &__sort {
    }
  }

  &__main {
    background-color: rgba(255, 255, 255, 0.63);
    height: calc(100% - 15px - 106px - 12px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px;
    margin-top: 12px;
    display: flex;
    width: 100%;
    flex-direction: column;

    a.active &__title__item {
      background-color: $primary;
      color: white;
    }

    a {
      @extend .flex;
      height: 35px;
      gap: 20px;
      width: 20%;
    }

    &__title {
      @extend .flex;
      height: 35px;
      width: 100%;
      //    background-color: rgba(255, 255, 255, 0.815);
      gap: 20px;
      &__item {
        width: 100%;
        padding: 10px;
        height: 100%;
        @extend .flex;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: rgb(255, 255, 255);
        gap: 5px;
        cursor: pointer;

        i {
        }

        &:hover {
          color: white;
          background-color: $primary;
        }
      }
    }
    &__list {
      width: 100%;
      margin-top: 10px;
      height: 85%;
      background-color: rgba(255, 245, 245, 0.226);
      border-radius: 10px;
    }
    &__pagination {
      width: 50%;
      height: 40px;
      justify-self: flex-end;
      margin-top: 25px;

      .dashboard__pagination {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 !important;

        li {
          list-style-type: none;
          width: 30px;
          height: 30px;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.521);
          @extend .flex;
          cursor: pointer;

          &:hover {
            background-color: rgb(255, 255, 255);
            box-shadow: 0 5px 5px 2px rgba(3, 3, 3, 0.062);
          }
        }
        li.dashboard__pagination--active {
          background-color: $primary;
          color: white;
        }
      }
    }
  }
}
.table__course__scroll {
  width: 100%;
  overflow: scroll;
  height: 100%;
  max-height: 400px;

  // &::-webkit-scrollbar{
  //   width: 0px;
  // }
}
.table__course__scroll::-webkit-scrollbar {
  display: none;
}

table {
  // background-color:rgb(226, 226, 226);
  width: 100%;
  font-size: 14px;

  .table__courses {
    width: 100%;

    &__checkbox {
      width: 5%;
      height: 40px;
      display: flex;
      justify-self: center;
      align-items: center;

      padding-left: 10px;
      input {
      }
    }

    &__id {
      width: 15%;
      padding-right: 20px;
    }
    &__name {
      width: 50%;
      padding-right: 50px;
    }
    &__status {
      // width: 15%;
      span {
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 13px;
      }

      &--finish {
        span {
          background-color: rgb(211, 255, 217);
          color: rgb(32, 194, 0);
        }
      }

      &--cancel {
        span {
          background-color: rgb(255, 205, 190);
          color: rgb(228, 8, 0);
        }
      }
      &--pending {
        span {
          background-color: rgb(255, 248, 185);
          color: rgb(255, 196, 0);
        }
      }
    }
    &__fee {
      width: 15%;
      text-align: right;
    }

    &__name--content {
      width: 100%;
      overflow: hidden;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1; // số dòng muốn hiển thị
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }
  .thead {
    font-weight: bold;
    height: 40px;
    border-bottom: 1px solid rgb(211, 211, 211);
  }
  tbody,
  thead,
  tr,
  td {
    // border:1px solid black;
  }
  td {
    cursor: pointer;
    i {
      margin-left: 5px;
      font-size: 10px;
    }
  }
  .tbody {
    tr {
      height: 40px;
      border-bottom: 1px solid rgb(211, 211, 211);
      cursor: pointer;
      &:hover {
        background-color: rgb(255, 255, 255);
      }
    }
  }

  thead {
    background-color: rgba(255, 255, 255, 0.671);
  }

  tr {
  }
  td {
  }
}
.dashboard__users__profile {
  padding-left: 0px !important;
}

.tutor__tab__admin {
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 10px!important;
  }
}
