.tutor__list {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0px;

  &__container {
    width: calc(70% - 60px);
    background-color: rgb(255, 255, 255);
    margin: auto;
    // min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 50px 10px rgba(114, 114, 114, 0.11);
    padding: 30px;

    .tutors__type {
      width: fit-content;
      margin-bottom: 30px;
      padding: 10px;
      border-radius: 5px;
      background-color: rgb(212, 229, 255);

      span {
        margin-right: 5px;
        font-size: 14px;
        i {
          margin-right: 5px;
          padding: 5px;
          background-color: white;
          border-radius: 3px;
        }
      }

      select {
        border: 3px solid rgb(139, 180, 255);
        padding: 7px;
        border-radius: 5px;

        &:focus {
          outline: none;
        }
      }
    }

    .tutors__title {
      width: calc(100%);
      // background-color: antiquewhite;
      font-size: 24px;
      font-weight: bold;
      margin-left: -30px;
      padding: 0 30px 20px 30px;
      border-bottom: 1px solid rgb(223, 223, 223);
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 17px;
      margin: 25px 0 30px 0;
      text-transform: uppercase;
    }
    .tutors__notify {
      width: calc(100% - 40px);
      height: calc(20px);
      border-radius: 6px;
      background-color: #fff4de;
      color: #ffa800;
      display: flex;
      align-items: center;
      padding: 20px;
      font-size: 15px;
      i {
        margin-right: 10px;
      }
    }

    .tutors__input {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      &__label {
        width: 200px;
        font-size: 14px;
        span {
          color: rgb(230, 0, 0);
        }
      }

      input,
      textarea,
      select {
        width: 60%;
        height: 40px;
        padding: 0px 10px;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgb(192, 192, 192);

        &:focus {
          outline: none;
          box-shadow: 0 0 8px 1px rgba(0, 116, 224, 0.5);
        }
      }
      textarea {
        resize: none;
        padding-top: 10px;
        height: 80px;
      }
      select {
        // width: 62.5%;
      }

      &__value {
        width: 60%;
        overflow: hidden;
        display: flex;
        border-radius: 5px;
        border: 1px solid rgb(199, 199, 199);

        input {
          width: 90%;
          border: 0;
          border-radius: 0px;
        }

        &__label {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          border-left: 1px solid rgb(199, 199, 199);
          background-color: #ececec;
          font-size: 13px;
        }
      }
    }
    .validate__error {
      textarea,
      input {
        border: 1.5px solid red;
        box-shadow: 0 0 1px 1px rgba(161, 0, 0, 0.473);
        background-color: #ffe7e7;
      }
    }
    .tutors__additional {
      overflow: hidden;

      // animation: animations 2s linear forwards;
    }
    @keyframes animations {
      from {
        height: 0px;
      }
      to {
        height: fit-content;
      }
    }
    .tutors__note {
      margin-top: -15px;
      font-size: 14px;
      color: #666666;
      div:last-child {
        width: 60%;
      }
    }
    .tutors__checkbox {
      width: 200px;
      display: block;
      margin-left: 195px;
      cursor: pointer;
      input {
        margin-right: 5px;
      }
    }
    .tutors__btn {
      outline: none;
      background-color: aquamarine;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 20px 0 0 230px;
      cursor: pointer;
      border: 1px solid rgb(0, 199, 133);

      &:hover {
        opacity: 0.8;
      }
    }
    .tutors__input__time {
      align-self: flex-start;

      .tutors__input__items {
        width: 60%;
        // background-color:cyan;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr 0.5fr;
        gap: 10px;
      }
      .tutors__input__item {
        width: 100%;
        // background-color: blue;

        select {
          width: 100%;
        }

        i {
          float: right;
          font-size: 20px;
          cursor: pointer;
          color: gray;
        }
      }
    }
    .tutors__input__add {
      width: calc(60% + 200px);
      height: 30px;
      display: flex;
      justify-content: right;
      margin-top: -10px;

      button {
        width: 60px;
        border: 1px solid rgb(0, 199, 133);
        background-color: aquamarine;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .btn__post {
    width: calc(100% + 60px);
    margin-top: 20px;
    margin-left: -30px;
    border-top: 1px solid rgb(223, 223, 223);
  }
}
.redirect__login {
  width: 100%;
  padding: 20px 10px;

  .btn-login {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .tutor__list__container {
    width: calc(90% - 60px);
  }
  .tutors__input__add {
    width: unset !important;
  }
}
@media screen and (max-width: 768px) {
  .tutor__list {
    padding: 30px 0 !important;

    &__container {
      padding: 20px !important;
    }
  }
  .tutors__btn {
    margin-left: 64% !important;
  }
  .tutors__note {
    & > div {
      width: 100%;
      text-align: left;
    }
  }
  .tutor__list__container {
    width: calc(90%) !important;
  }
  .tutors__input {
    flex-direction: column;

    &__label {
      width: 100% !important;
      margin-bottom: 10px;
    }
    &__items {
      width: 100% !important;
    }

    select,
    textarea,
    input {
      width: calc(100%) !important;
    }
    select {
      width: calc(100%) !important;
    }

    &__value {
      width: calc(100%) !important;
    }
  }
  .tutors__checkbox {
    margin-left: 0 !important ;
  }
  .tutor__list__container .tutors__notify {
    padding: 8px;
    width: 100%;
    height: unset !important;
  }
  .tutor__list__container .tutors__note div:last-child {
    width: 100%!important;
}
}
