.carousel_recommend {
  width: calc(100%);
  height: fit-content;
  // background-color: aqua;
  margin-bottom: 100px;
  overflow: hidden;
  margin-left: 0px !important;
  position: relative;

  button {
    display: none !important;
  }

  .slick-slide {
    width: fit-content !important;
  }

  .slick-prev,
  .slick-next {
    //   display: none !important;
  }
  .slick-prev {
    // position: absolute;
    // top: 0;
    // left: 0;
  }
  .slick-next {
    // position: absolute;
    // top: 50%;
    // right: -20px;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-track {
    background-color: white !important;
    // margin: auto!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1023px) {
  .hQqDvb {
    height: 450px !important;
    margin-bottom: 50px !important;
    img {
      display: none;
    }
  }
  .form__info {
    margin-bottom: 30px !important;
  }
  .gvXbjt {
    font-size: 22px !important;
    margin-bottom: 30px !important;
  }
  .DEAvg {
    width: 90% !important;
  }
  .kZVtMk {
    position: static !important;
    transform: translate(0%, 0%) !important;
  }
  .iLrvMD {
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 480px) {
  .DEAvg {
    .form__info {
      flex-direction: column !important;
      margin-bottom: 0px!important;
      &__main{
        width: 100%!important;
        margin-bottom: 20px;
      }
    }
  }
}
