.flex, .header__auth__cart__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: calc(100% - 160px);
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 80px;
  position: fixed;
  border-bottom: 1px solid #d1d1d1;
  z-index: 10;
}

.header__logo {
  width: 60px;
  height: 60px;
  background: url("../../assets/images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 10px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header__navigation__item + .active {
  background-color: #eeeeee;
  color: #0089be;
}

.header__navigation li,
.header__navigation a, .header__navigation--active {
  min-width: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50%;
  list-style-type: none;
  cursor: pointer;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.header__navigation li:hover,
.header__navigation a:hover, .header__navigation--active:hover {
  background-color: #eeeeee;
  color: #0089be;
}

.header__navigation--active {
  background-color: #eeeeee;
  color: #0089be;
}

.header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  cursor: pointer;
}

.header__auth__cart {
  width: 35px;
  height: 35px;
  background-color: #cbfff2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #00ad82;
  position: relative;
}

.header__auth__cart__number {
  position: absolute;
  top: -5px;
  right: -6px;
  width: 15px;
  height: 15px;
  background-color: #00ad82;
  font-size: 11px;
  border-radius: 50%;
  color: #cbfff2;
}

.header__auth__user {
  width: 110px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header__auth__user__img {
  width: 40px;
  height: 40px;
  background-color: cyan;
  border-radius: 50%;
}

.header__auth__user__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__auth__user__name {
  font-size: 13px;
}

.header__auth__btn {
  width: 110px;
  height: 40px;
  background-color: #cbfff2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: #00ad82;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

.header__auth__btn:hover {
  color: #00916c;
  border-radius: 20px;
}
/*# sourceMappingURL=header.css.map */