$btn: #0467b4;
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 40px;

  button {
    border: 0;
    outline: none;
    // text-decoration: none;
  }

  &__image {
    width: 55%;
    background-color: cyan;
    img {
    }
  }
  &__main {
    &__wrap {
      width: 80%;
      height: calc(100% - 40px);
      padding: 20px 0px;
      //   background-color: rgb(175, 175, 175);
      &__options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__form {
          margin-bottom: 50px;
        }
      }
    }
    flex-grow: 1;

    &__back {
      margin-bottom: 20px;
      cursor: pointer;
      color: rgb(102, 102, 102);
      i {
        margin-right: 5px;
      }
    }
    &__title {
      margin-bottom: 25px;
      .title__login {
        margin-top: 20px;
        // font-weight: bold;
        font-size: 40px !important;
      }
      div:first-child {
        font-size: 40px;
      }
      div:last-child {
        font-size: 20px;
      }

      span {
        color: #0467b4;
        font-weight: bold;
      }
    }
    &__form {
      width: 100%;
      //   background-color: yellow;

      &__info {
        margin-bottom: 20px;
        &__label {
          margin-bottom: 5px;
        }

        input {
          outline: none;
          border: 1px solid rgb(194, 194, 194);
          width: calc(100%);
          padding: 12px 0px;
          padding-left: 10px;
          border-radius: 5px;
          font-size: 17px;

          &:focus {
            // box-shadow: 0 0 8px 1px rgba(0, 116, 224, 0.5);
          }
        }
        .login__error {
          box-shadow: 0 0 3px 1px rgb(255 59 0);
          border: 1px solid red;
        }
        .login__error + span {
          color: red;
          font-size: 13px;
        }
      }
      &__save {
        margin-bottom: 20px;
        input {
        }
        span {
          font-size: 14px;
        }
      }

      button {
        width: calc(100%);
        // padding: 15px 0px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        background-color: $btn;
        border-radius: 5px;
        height: 45px;
      }
    }
    a {
      text-decoration: none;
    }

    &__forget {
      text-align: center;
      margin: 15px 0px;
      cursor: pointer;
      color: rgb(8, 0, 51);
    }
    &__forget:hover {
      color: #0467b4;
    }
    &__option {
      text-align: center;
      margin: 30px 0px;
    }
    &__api {
      display: flex;
      gap: 4%;
      margin-bottom: 40px;
      button {
        width: 48%;
        padding: 10px 0px;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        cursor: pointer;
        transition: 0.2s linear;
      }
      button:hover {
        opacity: 0.8;
      }
      &--google {
        background-color: rgb(206, 0, 0);
      }

      &--facebook {
        background-color: rgb(0, 0, 194);
      }
    }

    &__nav {
      span {
      }
      button {
        background-color: transparent;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        color: rgb(245, 159, 0);
        transition: 0.2s;
      }
      button:hover {
        color: rgb(0, 0, 165);
      }

      &__options {
      }
    }
    &__toporaphy {
      margin: 0px 0 30px 0;
    }

    .login__options {
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      gap: 20px;

      &__back {
        // background-color: #0467b4;
      }
      &__item {
        border-radius: 10px;
        width: 80%;
        height: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0 20px;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.158);
        transition: 0.2s linear;

        i {
          transition: 0.2s linear;
        }

        &__parent {
          display: flex;
          justify-content: left;
          align-items: center;

          span {
            font-size: 20px;
            color: #0467b4;
          }
        }
        .tutor__icon {
          width: 40px;
          height: 40px;
          background: url("../../../assets/images/tutor-icon.svg");
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 15px;
        }
        .student__icon {
          width: 40px;
          height: 40px;
          background: url("../../../assets/images/student-icon.svg");
          background-repeat: no-repeat;
          background-size: contain;
          margin-right: 15px;
        }
      }
      &__item:hover i {
        transform: translateX(20%);
      }
      &__item:hover {
        box-shadow: 0 0 10px 2px rgba(0, 22, 148, 0.329);
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .user {
    &__image {
      width: 45%;
    }
  }
}
@media screen and (max-width: 658px) {
  .user {
    grid-gap: 20px;
    &__image {
      width: 15%;
      // display: none;
    }
  }
  .login__main__title{
    .title__login{
      font-size: 20px!important;
      font-weight: bold;
    }
  }
  .login__main{
    padding-right:20px;
    &__toporaphy{
      margin-bottom: 15px;
    }
    &__form{
      &__info{
        input{
          width: calc(100% - 14px);
        }
      }
    }
    &__wrap{
      width: 100%;
      &__options{
        justify-content: start;
        &__form{
          margin-bottom: 30px;
        }
      }
    }
    .login__options{
      height: unset;
      &__item{
        height: 70px;
        padding: 0px 15px;
      }
    }
  }
}
