.login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.login button {
  border: 0;
  outline: none;
}

.login__image {
  width: 55%;
  background-color: cyan;
}

.login__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.login__main__wrap {
  width: 80%;
  height: calc(100% - 40px);
  padding: 20px 0px;
}

.login__main__wrap__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login__main__wrap__options__form {
  margin-bottom: 50px;
}

.login__main__back {
  margin-bottom: 20px;
  cursor: pointer;
  color: #666666;
}

.login__main__back i {
  margin-right: 5px;
}

.login__main__title {
  margin-bottom: 25px;
}

.login__main__title .title__login {
  margin-top: 20px;
  font-size: 40px !important;
}

.login__main__title div:first-child {
  font-size: 40px;
}

.login__main__title div:last-child {
  font-size: 20px;
}

.login__main__title span {
  color: #0467b4;
  font-weight: bold;
}

.login__main__form {
  width: 100%;
}

.login__main__form__info {
  margin-bottom: 20px;
}

.login__main__form__info__label {
  margin-bottom: 5px;
}

.login__main__form__info input {
  outline: none;
  border: 1px solid #c2c2c2;
  width: calc(100%);
  padding: 15px 0px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 17px;
}

.login__main__form__info input:focus {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 116, 224, 0.5);
          box-shadow: 0 0 8px 1px rgba(0, 116, 224, 0.5);
}

.login__main__form__save {
  margin-bottom: 20px;
}

.login__main__form__save span {
  font-size: 14px;
}

.login__main__form button {
  width: calc(100%);
  padding: 15px 0px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  background-color: #0467b4;
  border-radius: 5px;
}

.login__main__forget {
  text-align: center;
  margin: 15px 0px;
  cursor: pointer;
  color: #080033;
}

.login__main__forget:hover {
  color: #0467b4;
}

.login__main__option {
  text-align: center;
  margin: 30px 0px;
}

.login__main__api {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
  margin-bottom: 40px;
}

.login__main__api button {
  width: 48%;
  padding: 15px 0px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.login__main__api button:hover {
  opacity: 0.8;
}

.login__main__api--google {
  background-color: #ce0000;
}

.login__main__api--facebook {
  background-color: #0000c2;
}

.login__main__nav button {
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  color: #f59f00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login__main__nav button:hover {
  color: #0000a5;
}

.login__main__toporaphy {
  margin: 0px 0 30px 0;
}

.login__main .login__options {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  gap: 20px;
}

.login__main .login__options__item {
  border-radius: 10px;
  width: 80%;
  height: 100%;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 20px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.158);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.158);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.login__main .login__options__item i {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.login__main .login__options__item__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__main .login__options__item__parent span {
  font-size: 20px;
  color: #0467b4;
}

.login__main .login__options__item .tutor__icon {
  width: 40px;
  height: 40px;
  background: url("../../../assets/images/tutor-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
}

.login__main .login__options__item .student__icon {
  width: 40px;
  height: 40px;
  background: url("../../../assets/images/student-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 15px;
}

.login__main .login__options__item:hover i {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.login__main .login__options__item:hover {
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 22, 148, 0.329);
          box-shadow: 0 0 10px 2px rgba(0, 22, 148, 0.329);
}
/*# sourceMappingURL=login.css.map */