a {
  text-decoration: none;
}

.footer {
  padding-top: 50px;
  .link-title {
    margin-bottom: 25px;
    color: white;
  }
  .list-link li {
    margin-bottom: 20px;
    font-weight: lighter;
  }
}
