.subject__main {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
}
.create__form {
  .title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
  }
}
