body {
  // font-family: "PT Sans", sans-serif;
  /* background-color: #eaebee; */
  background-color: white;

  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container__app {
  width: 90%;
  padding-top: 80px;
  margin: auto;

  & > div {
    min-height: 90vh;
  }
}

textarea {
  font-family: 'PT Sans', sans-serif;
}

.user {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 40px;

  button {
    border: 0;
    outline: none;
    // text-decoration: none;
  }

  &__image {
    width: 55%;
    background-color: cyan;
    // position: relative;
    // div{
    //   width: 400px;
    //   height: 400px;
    //   background: url("assets/images/online-learning.gif");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   background-color: transparent;
    //   position: absolute;
    //   top: 100px;
    //   left: 100px;
    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // display: none;
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.login__error {
  box-shadow: 0 0 3px 1px rgb(255 59 0);
  border: 1px solid red;
}

button,
input,
optgroup,
select,
textarea {
  // margin: 0!important;
  // font-family: unset!important;
  font-size: 14px !important;
  line-height: 1 !important;
}

.center {
  padding-top: 30px;
  text-align: center;
  img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .container__app {
    width: 99.5%;
  }
}
.profile__detail__course__admin {
  // background-color: rgba(255, 255, 255, 0.349);
  overflow: scroll;
  width: 100%;
  height: 500px;
  min-height: 600px;

  .tutor__info {
    padding: 0px !important;

    .tutor__info__general {
      margin-bottom: 10px !important;
    }
    .tutor__info__detail {
      gap: 10px !important;
    }
    .tutor__info__classes {
      margin-top: 10px !important;
    }

    .class__list {
      margin: 20px 0 !important;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 10px;
  }
}

.star {
  color: #fdce3e;
}
.star--border {
  color: #e0e3ed;
}

html {
  scroll-behavior: unset !important;
}
