body {
  font-family: "PT Sans", sans-serif;
  /* background-color: #eaebee; */
  background-color: white;
}

.container {
  width: 1340px;
  padding-top: 80px;
  margin: auto;
}

textarea {
  font-family: "PT Sans", sans-serif;
}

.user {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 40px;

  button {
    border: 0;
    outline: none;
    // text-decoration: none;
  }

  &__image {
    width: 55%;
    background-color: cyan;
    // position: relative;
    // div{
    //   width: 400px;
    //   height: 400px;
    //   background: url("assets/images/online-learning.gif");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   background-color: transparent;
    //   position: absolute;
    //   top: 100px;
    //   left: 100px;
    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // display: none;
      
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}