body {
  // font-family: "PT Sans", sans-serif;
  /* background-color: #eaebee; */
  background-color: white;

  font-family: "PT Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  padding-top: 80px;
  margin: auto;

  & > div {
    min-height: 90vh;
  }
}

textarea {
  font-family: "PT Sans", sans-serif;
}

.user {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 40px;

  button {
    border: 0;
    outline: none;
    // text-decoration: none;
  }

  &__image {
    width: 55%;
    background-color: cyan;
    // position: relative;
    // div{
    //   width: 400px;
    //   height: 400px;
    //   background: url("assets/images/online-learning.gif");
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   background-color: transparent;
    //   position: absolute;
    //   top: 100px;
    //   left: 100px;
    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // display: none;
    }
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.login__error {
  box-shadow: 0 0 3px 1px rgb(255 59 0);
  border: 1px solid red;
}

@media screen and (max-width: 768px){
  .container{
    width: 99.5%;
  }
}